*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.navbar {
    display: flex;
    width: 100%;
    position: fixed;
    /* border-bottom: 1px solid red; */
    margin-bottom: 20px;
}

.hamburger-menu{
    width: 40px;
    height: 35px;
    display: none;
}

.navbar .left {
    background-color: #d7d7d7;
    width: 54.2%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.navbar .right {
    background-color:#d7d7d7;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: inherit;
    padding: 0 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #555 !important;
}


.container{
    display: flex;
    height: 100vh;
}


/*right-side */
.right-side, .left-side{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side{
   background-color: #414141;
}

.right-img{
    width: 70%;
    height: auto; 
}

.left-side{
    background-color: #d7d7d7;
    padding: 30px;
}

.content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 32%;
}
.animate__bounce{
    animation-duration: 800ms;
}
.content-img a img:hover{
    animation: bounce;
    animation-duration: 1s;
}
.content-details{
    margin-top: 7%;
    font-size: 18px;
}

.content-details p{
    color: gray;
    margin-top: 4;
}

.content-img img{
    margin-top: 8%;
    margin-right: 5%;
    background-color: rgb(234, 232, 232);
    padding: 5px;
}

/* footer */
.footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:#1d1d1d;
    
}
.footer-content{
    width: 100%;
    height: 200px;
    color: white;
    margin-left: 30px;
    margin-top: 15px;
}
.footer-content p{
    width: 80%;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.about-container{
    width: 100vw;
    height:100%;
    background-color: #d7d7d7;
    padding-top: 4%;
}

.about-first
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.about-container .h-tag{
    border: 5px solid black;
    width: 180px;
    height: 45px;
    margin-left: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-container .about-first p {
    margin-top: 3%;
    padding-top: 30px;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
}

.about-container span{
    margin-left: 10%;
}

.design p , .development p{
  width: 500px;
}

.about-second {
    display: flex;
    flex-wrap: wrap; 
    margin-top: 5%;
    justify-content: center;
}
.design, .development, .maintenance {
    flex: 1 1 1; 
    padding: 20px;
    background-color: lightgray;
    margin: 10px;
}
.maintenance {
    flex-basis: 40%;
}

.about-img{
  margin-left: 45%;
  margin-top:5%;
  margin-bottom: 5%;
}

.skils-h1{
    border: 5px solid black;
    width: 200px;
    height: 45px;
    margin-left: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skils p{
    font-size: 24px;
    margin-left: 35.5%;
    margin-top: 3%;
    margin-bottom: 25px;
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: inherit;
    row-gap: 50px;
}

.skils img{
    width: 90px;
    height: 45px;
}


.first-part, .image{
    display: flex;
    gap: 50px;
}

.second-part{
    display: flex;
    gap: 50px;
    row-gap: 50px;
}

.learning{
    font-size: 24px;
    margin-left: 35.5%;
    margin-top: 3%;
    margin-bottom: 25px;
}

.learning-images{
    display: flex;
    justify-content: center;
}


.form-div {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left: 10%;
}

.contact{
    border: 5px solid black;
    width: 200px;
    height: 45px;
    margin-left: 43%;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.form input{
   margin-top: 30px;
   width: 80%;
   height: 40%;
   padding: 20px;
   border: none;
   border-left: 6px solid black;
   border-bottom: 6px solid black;
   background-color: #d7d7d7;
   border-top-left-radius: 8px;
}

.form input:focus{
    border: none;
}

#message{
    height: 50%;
    margin-bottom: 30px;
}

.button{
    width: 33%;
    height: 40px;
    background-color: rgb(18, 159, 18);
    display: block;
    border: none;
    border-radius: 50px;
}

.button:hover{
    background-color: rgb(79, 233, 79);
    cursor: pointer;
}


.main-footer{
    margin-top: 25px;
    background-color: gray;
    color: black;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.main-footer-img img{
    margin-left: 20px;
}


@media screen and (min-width: 380px){
    body{
        overflow: hidden;
    }
}

@media screen and (max-width: 640px) {
    .contact{
        margin-left: 27%;
    }
}

@media screen and (max-width : 380pc) {
    .skils img{
        width: 75px;
        height: 40px;
    }
}

@media screen and (max-width: 640px) {
    #about{
        margin-left: 27%;
    }
}

@media screen and (max-width: 640px) {
    .skils-h1 {
        margin-left: 27%;
    }
}

@media screen and (max-width: 640px) {
    .about-img{
        margin-left: 27%;
    }
}

@media screen and (max-width : 710px) {
    .hamburger-menu{
        display: block;
    }

    .navbar .right ul{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .first li a:not(:first-child) {display: none;}
    .first li a.icon {
      float: right;
      display: block;
    }
  }

@media screen and (max-width: 600px) {
    .right.responsive {position: relative;}
    .right.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .right.responsive li a {
      float: none;
      display: block;
      text-align: left;
    }
  }